Source: thrash-protect
Section: admin
Priority: optional
Maintainer: Tobias Brox <tobias@redpill-linpro.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: https://github.com/tobixen/thrash-protect
Vcs-Git: git@github.com:tobixen/thrash-protect.git

Package: thrash-protect
Architecture: all
Depends: python
Description: Simple-Stupid user-space program protecting a linux host from thrashing
 The program will on fixed intervals check if there has been a lot of
 swapping since previous run, and if there are a lot of swapping, the
 program with the most page faults will be temporary suspended.  This
 way the host will never become so thrashed up that it won't be
 possible for a system administrator to ssh into the box and fix the
 problems, and in many cases the problems will resolve by themselves.
